.jfx-button{
	-fx-opacity: 0.9;
	-fx-text-fill: white;
}
.jfx-button:hover{
	-fx-opacity: 1;
}
#btn_ajouter{
	-fx-background-color: #0b824e;
}
#btn_delete{
	-fx-background-color: red;
}
#btn_modifier{
	-fx-background-color: orange;
}
#pane_top{
	-fx-background-color: #4d5463;
}
#label_title{
	-fx-text-fill: white;
}